#main-container {
    padding-top: 5rem;
    margin: 0 15rem -5rem 10rem;
    display: flex;
    justify-content: space-between;
}

.main-text {
    padding-top: 10rem;
}

.main-pictures {
    padding-left: 10rem;
}

.main-text {
    display: flex;
    flex-direction: column;
    width: 35vw;
}

#subs-h2 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #c164ed;

    margin-bottom: 0;
}

#subs-p {
    width: 30vw;
    font-size: 24px;
    font-weight: 500;
}
